<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>Document</title>
		<link rel="stylesheet" type="text/css" href="../res/static/css/main.css">
		<link rel="stylesheet" type="text/css" href="../res/layui/css/layui.css">
		<script type="text/javascript" src="../res/layui/layui.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="../res/static/js/vue.js"></script>
		<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	</head>


	<body>

		<div class="site-nav-bg">
			<div class="site-nav w1200">
				<p class="sn-back-home">
					<i class="layui-icon layui-icon-home"></i>
					<a href="#">首页</a>
				</p>
				<div class="sn-quick-menu">
					<div class="login">
						<a href="login.html">登录</a>
					</div>
					<div class="sp-cart">
						<a href="shopcart.html">购物车</a><span>2</span></div>
				</div>
			</div>
		</div>

		<div class="header" style="background-color: #DDDDDD;">
			<div class="headerLayout w1200">
				<div class="headerCon">
					<h1 class="mallLogo">
          <a href="#" title="智慧农贸">
            <img src="../res/static/img/logo2.png">
          </a>
        </h1>
					<div class="mallSearch">
						<form action="" class="layui-form" novalidate>
							<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input" placeholder="请输入需要的商品">
							<button class="layui-btn" lay-submit lay-filter="formDemo">
                <i class="layui-icon layui-icon-search"></i>
            </button>
							<input type="hidden" name="" value="">
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="content content-nav-base commodity-content">
			<div class="main-nav">
				<div class="inner-cont0">
					<div class="inner-cont1 w1200">
						<div class="inner-cont2">
							<a href="commodity.html" class="active">所有商品</a>
							<a href="buytoday.html">今日团购</a>
							<a href="information.html">母婴资讯</a>
							<a href="about.html">关于我们</a>
						</div>
					</div>
				</div>
			</div>
			<div class="commod-cont-wrap" id="app">
				<div class="commod-cont w1200 layui-clear">
					<div class="left-nav">
						<div class="title">所有分类</div>
						<div class="list-box">
							<dl  v-for="(item , index) in goodssss" >
								<dt @click='findByEvent(item.type,item.typeId)'>{{item.typeName}}</dt>

								
								<dd onclick="show(this);" v-for="(citem , index) in item.goodTypeList"  @click='findByEvent(citem.type,citem.typeId)'>
									<a href="javascript:void(0);"  >{{citem.typeName}}</a>
									<ul v-show="false" style="text-indent: 4em;">
										<li v-for="(ccitems , index) in citem.goodTypeList" @click.stop='findByEvent(ccitems.type,ccitems.typeId)'   >{{ccitems.typeName}}</li>
									</ul>
								</dd>
							</dl>
						</div>
					</div>
					<div class="right-cont-wrap">
						<div class="right-cont">
							<div class="sort layui-clear">
								<a class="active" href="javascript:;" event='volume'>销量</a>
								<a href="javascript:;" event='price'>价格</a>
								<a href="javascript:;" event='newprod'>新品</a>
								<a href="javascript:;" event='collection'>收藏</a>
							</div>
							<!--<div class="prod-number">
								<span>{{pagetotal}}个</span>
							</div>-->
							<div class="cont-list layui-clear" id="list-cont">

								<div class="item" v-for="(item , index) in goodlist">
									<div class="img">
										<a :href="'details.html?goodId='+item.goodId"><img  :src="'../res/static/img/'+item.photo"></a>
									</div>
									<div class="text">
										<p class="title">{{item.goodName}}</p>
										<p class="price">
											<span class="pri">￥{{item.price}} {{item.company}}</span>
											<span class="nub">{{item.context}}</span>
										</p>
									</div>
								</div>
							</div>
							<!-- 模版引擎导入 -->
							<!-- <script type="text/html" id="demo">
              {{# layui.each(d.menu.milk.content,function(index,item){}}    
                <div class="item">
                  <div class="img">
                    <a href="javascript:;"><img src="{{item.img}}"></a>
                  </div>
                  <div class="text">
                    <p class="title"></p>
                    <p class="price">
                      <span class="pri">{{item.pri}}</span>
                      <span class="nub">{{item.nub}}</span>
                    </p>
                  </div>
                </div>
              {{# }); }}
            </script> -->
							<div id="demo0" style="text-align: center;"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../res/static/js/publicValue.js"></script>
		<script type="text/javascript" src="../res/static/js/jquery.min.js"></script>
		<script>
	  var vue= new Vue({
				el: '#app',
				data: {
					laypages: layui.laypage,
					$: layui.$,
					mm: layui.mm,
					message: 'Hello Vue.js!',
					goodssss: [{}],
					goodlist:[{}],
					pageinfo: {},
					pagetotal:{},
					categoryLevel: undefined,
					boo: false
					/*,
					goodList:[{}]*/
				},
				mounted: function(){
				this.pageinfomethod()
					layui.config({
						base: '../res/static/js/util/' //你存放新模块的目录，注意，不是layui的模块目录
					}).use(['mm', 'laypage', 'jquery'], ()=>{

					/*	var data = null;*/

						/*jQuery.ajax({
							type:"post",
							url:urlprofix+"/consumer/goods/get",
							async:true,
							dataType:"json",
							success:function(result){
								data = result;



							}
						});*/


					/*	var laypage = layui.laypage,
								$ = layui.$,
								mm = layui.mm;*/
						layui.laypage.render({
							elem: 'demo0',
							count: this.pagetotal,//数据总数
							limit:6,
							layout: ['count', 'prev', 'page', 'next',  'refresh', 'skip'],
							jump: this.pageinfomethod

							/*
									layui.each(thisData.list, function(index, item){
										arr.push("<div class='item' >"+
												"<div class='img'>"+
												"<a href='javascript:void(0);'><img src='../res/static/img/'"+item.photo+"></a>"+
												"</div>"+
												"<div class='text'>"+
												"<p class='title'>"+item.goodName+"</p>"+
												"<p class='price'>"+
												"<span class='pri'>￥"+item.price+" "+ item.company+"</span>"+
												"<span class='nub'>"+item.context+"</span></p></div></div>");
									});
									return arr.join('');
								}();
							}*/
						});

						// 模版引擎导入
						//  var html = demo.innerHTML;
						//  var listCont = document.getElementById('list-cont');
						//  // console.log(layui.router("#/about.html"))
						// mm.request({
						//     url: '../json/commodity.json',
						//     success : function(res){
						//       console.log(res)
						//       listCont.innerHTML = mm.renderHtml(html,res)
						//     },
						//     error: function(res){
						//       console.log(res);
						//     }
						//   })

						$('.sort a').on('click', function() {
							$(this).addClass('active').siblings().removeClass('active');
						})
						$('.list-box dt').on('click', function() {
							if($(this).attr('off')) {
								$(this).removeClass('active').siblings('dd').show()
								$(this).attr('off', '')
							} else {
								$(this).addClass('active').siblings('dd').hide()
								$(this).attr('off', true)
							}
						})

					})
					this.$http.post(urlprofix+'/consumer//goods/gettype', "", {
							emulateJSON: true
						}).then(function(res) {
							this.goodssss=JSON.parse(res.bodyText);
						}, function() {
							console.log('请求处理失败');
						});


				},
		  watch:{
					boo: function () {
								layui.config({
									base: '../res/static/js/util/' //你存放新模块的目录，注意，不是layui的模块目录
								}).use(['mm', 'laypage', 'jquery'], ()=>{

									/*	var data = null;*/

									/*jQuery.ajax({
                                        type:"post",
                                        url:urlprofix+"/consumer/goods/get",
                                        async:true,
                                        dataType:"json",
                                        success:function(result){
                                            data = result;



                                        }
                                    });*/


									/*	var laypage = layui.laypage,
                                                $ = layui.$,
                                                mm = layui.mm;*/
									layui.laypage.render({
										elem: 'demo0',
										count: this.pagetotal,//数据总数
										limit:6,
										layout: ['count', 'prev', 'page', 'next',  'refresh', 'skip'],
										jump: this.pageinfomethod

									})
									// 模版引擎导入
									//  var html = demo.innerHTML;
									//  var listCont = document.getElementById('list-cont');
									//  // console.log(layui.router("#/about.html"))
									// mm.request({
									//     url: '../json/commodity.json',
									//     success : function(res){
									//       console.log(res)
									//       listCont.innerHTML = mm.renderHtml(html,res)
									//     },
									//     error: function(res){
									//       console.log(res);
									//     }
									//   })

									$('.sort a').on('click', function() {
										$(this).addClass('active').siblings().removeClass('active');
									})
									$('.list-box dt').on('click', function() {
										if($(this).attr('off')) {
											$(this).removeClass('active').siblings('dd').show()
											$(this).attr('off', '')
										} else {
											$(this).addClass('active').siblings('dd').hide()
											$(this).attr('off', true)
										}
									})

								})

					}
		  },

				methods: {

					findByEvent:function(event,id){

						this.categoryLevel={event: event==1? "categorylevel1id": event==2? "categorylevel2id":"categorylevel3id" , id: id};
						this.pageinfomethods(null,null,this.categoryLevel)
					},

					pageinfomethod :function(obj,first){

						var curr=1;
						if (obj!=null){
							curr=JSON.stringify(obj.curr);
						}
						var  reqeustData = "?currentPage="+curr
						if(this.categoryLevel!= undefined)
						{
							reqeustData+="&";
							reqeustData+=this.categoryLevel.event;
							reqeustData+="=";
							reqeustData+=this.categoryLevel.id;

						}
						this.$http.post(urlprofix+"/consumer/goods/get"+reqeustData,"", {
							emulateJSON: true
						}).then(function (result){
							const  tot =result.body.total;
							this.pagetotal=JSON.stringify(result.body.total);
							this.pageinfo=result.body;

							this.goodlist= result.body.list;

								this.$http.post(urlprofix+"/consumer/goods/get"+reqeustData,"", {
									emulateJSON: true
								}).then(function (result){
									const  tot =result.body.total;
									this.pagetotal=JSON.stringify(result.body.total);
									this.pageinfo=result.body;

									this.goodlist= result.body.list;

								},function(){


								})
						},function(){


						})
					},
					pageinfomethods :function(obj,first){

						var curr=1;
						if (obj!=null){
							curr=JSON.stringify(obj.curr);
						}
						var  reqeustData = "?currentPage="+curr
						if(this.categoryLevel!= undefined)
						{
							reqeustData+="&";
							reqeustData+=this.categoryLevel.event;
							reqeustData+="=";
							reqeustData+=this.categoryLevel.id;

						}
						this.$http.post(urlprofix+"/consumer/goods/get"+reqeustData,"", {
							emulateJSON: true
						}).then(function (result){
							const  tot =result.body.total;
							this.pagetotal=JSON.stringify(result.body.total);
							this.pageinfo=result.body;

							this.goodlist= result.body.list;

							this.$http.post(urlprofix+"/consumer/goods/get"+reqeustData,"", {
								emulateJSON: true
							}).then(function (result){
								const  tot =result.body.total;
								this.pagetotal=JSON.stringify(result.body.total);
								this.pageinfo=result.body;

								this.goodlist= result.body.list;
								this.boo=!this.boo;
							},function(){


							})
						},function(){


						})
					}
				}
			})
						
			/*layui.config({
				base: '../res/static/js/util/' //你存放新模块的目录，注意，不是layui的模块目录
			}).use(['mm', 'laypage', 'jquery'], function() {
				var data = null;

				jQuery.ajax({
					type:"post",
					url:urlprofix+"/consumer/goods/get",
					async:true,
					dataType:"json",
					success:function(result){
						data = result;



					}
				});


				var laypage = layui.laypage,
					$ = layui.$,
					mm = layui.mm;
				laypage.render({
					elem: 'demo0',
					count: data.total,//数据总数
					limit:6,
					jump: function(obj){

									//alert(JSON.stringify(obj));
									//模拟渲染
									document.getElementById('list-cont').innerHTML = function(){
										var arr = [];
										var thisData = null;

										jquery.ajax({
											type:"post",
								url:urlprofix+"/consumer/goods/get",
								data:{currentPage:obj.curr},
								async:true,
								dataType:"json",
								success:function(result){
									thisData = result;
								}
							});

							layui.each(thisData.list, function(index, item){
								arr.push("<div class='item' >"+
										"<div class='img'>"+
										"<a href='javascript:void(0);'><img src='../res/static/img/'"+item.photo+"></a>"+
										"</div>"+
										"<div class='text'>"+
										"<p class='title'>"+item.goodName+"</p>"+
										"<p class='price'>"+
										"<span class='pri'>￥"+item.price+" "+ item.company+"</span>"+
										"<span class='nub'>"+item.context+"</span></p></div></div>");
							});
							return arr.join('');
						}();
					}
				});

				// 模版引擎导入
				//  var html = demo.innerHTML;
				//  var listCont = document.getElementById('list-cont');
				//  // console.log(layui.router("#/about.html"))
				// mm.request({
				//     url: '../json/commodity.json',
				//     success : function(res){
				//       console.log(res)
				//       listCont.innerHTML = mm.renderHtml(html,res)
				//     },
				//     error: function(res){
				//       console.log(res);
				//     }
				//   })

				$('.sort a').on('click', function() {
					$(this).addClass('active').siblings().removeClass('active');
				})
				$('.list-box dt').on('click', function() {
					if($(this).attr('off')) {
						$(this).removeClass('active').siblings('dd').show()
						$(this).attr('off', '')
					} else {
						$(this).addClass('active').siblings('dd').hide()
						$(this).attr('off', true)
					}
				})

			});*/
		//vue.laypages= layui.laypage;
			function show(node) {
				$(node).find("ul").slideToggle();
			}

		</script>

	</body>

</html>